@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

.container {
  position: relative;
  top: 5em;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.container p {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 100%;
  word-wrap: break-word;
  font-family: "Outfit";
}

.container .icon-name {
  position: relative;
  bottom: 2em;
  left: 0.4em;
}
.container a {
  color: black;
  transition: 0.3s;
  font-size: 35px;
}
.container a:hover {
  color: cornflowerblue;
}
.container .btn-add {
  position: relative;
  left: 15px;
}

.container .todo-Text .todo-Completed{
  max-width: 350px;
}

.container .list-group {
  height: 350px;
  overflow: scroll;
  overflow-x: hidden;
}

.container .todo-completed 
{
  text-decoration: line-through;
}

.container .list-group::-webkit-scrollbar {
  width: 7px;
}
.container .list-group::-webkit-scrollbar-thumb {
  background: cornflowerblue;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .container {
    top: 1.5em;
  }
  .container .btn-add {
    width: 100%;
    margin-top: 10px;
    left: 0px;
  }
  .container .todo-Text .todo-Completed {
    width: 150px;
  }
  .container .list-group {
    height: 150px;
  }
}
